.Footer {
  border-top: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  background-color: var(--white);
  font-size: 0.8em;
}

.Footer a {
  color: darkslateblue;
}