.Profile {
  align-self: center;
}

.Profile p{
margin-bottom: 0.5em;
padding: 1em;
font-size: 1.5em;
}

.Profile ul {
  text-align: center;
  margin-top: 1em;
}

.Profile li {
  margin-bottom: 0.5em;
}

.Profile h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
}
 