.content {
  padding: 5em;
  background-image: linear-gradient(var(--white), #e2fbff);
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 5em auto ;
  text-align: center;
  width: 80%;
}
